<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>themes</title>
</head>
<body>
    <div style="margin: 30px;">
        <h2>O'tilgan mavzular</h2>
        <ol>
            {% for cor in covered %}
                 <li><a href="{% url 'topic' cor.id %}" style="text-decoration: none;">{{cor.name}}</a></li>
            {% endfor %}
    </ol>
        <button style="background-color: blue; padding: 10px;border-radius: 20px; border: none;"><a style="text-decoration: none; color: white;" href="{% url 'home' %}">Orqaga</a></button>
    </div>
</body>
</html>