<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baholar</title>
</head>
<body>
   <div style="display: flex;flex-direction: column;align-items: center; justify-content: center; margin-top: 100px">
       <h1>O'tgan mavzular buyicha o'quv reja:</h1>
       <h2>o'tgan mavzu <span style="color: blue;">{{covered.name}}</span>, reja: <span style="color: green;">{{covered.reja}}</span> </h2>
       <p></p>
        <button style="background-color: blue; padding: 10px;width: 100px; margin-right: 80px;border-radius: 20px; border: none;"><a style="text-decoration: none; color: white;" href="{% url 'themes' %}">Orqaga</a></button>
   </div>
</body>
</html>